

.container-dec{
    margin: 0 15px;
    padding-top: 150px;
}
.form-box-dec{
    width: 100%;
    max-width: 450px;
    padding:30px;
    background-color: #fff;
    border-radius: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
h2{
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}
input{
    width: 100%;
    padding: 12px;
    background: #eee;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    margin-bottom: 20px;
    color: #333;
}
button{
    width: 100%;
    padding: 12px;
    background: #000;
    color: #fff;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.5;
}
button:hover{
    background: #333;
}
p{
    font-size:14.5px;
    margin-bottom: 10px;
}
p a{
    color: #000;
    text-decoration: none;
    font-weight: bold;
    
}