@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.navbar-dec {
    color: white;
    padding: 0.5%;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.nav-color {
    background-color: black;
    width: 100%;
}

.nav-login {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}

.nav-login:hover {
    color: #bbb;
}

.nav-register {
    background-color: #000000;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

.nav-register:hover {
    background-color: #ffffff;
    color: black;
}

.content-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
