<nav class="navbar navbar-expand-lg ontop nav-color">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <a class="navbar-brand navbar-dec" routerLink="/kanbanboard">Kanban Board</a>
    
    <div class="d-flex gap-3 align-items-center">
      <a class="navbar-dec nav-login" routerLink="/login">Login</a>
      <button class="btn btn-primary nav-register" routerLink="/regis">Register</button>
    </div>
  </div>
</nav>

<div class="content-container">
  <router-outlet></router-outlet>
</div>
