<div class="container-dec">
    <div class="form-box-dec" id="">
        <form action="">
            <h2>Register</h2>
            <input type="email" name="email" placeholder="Email" required>
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="password" name="confirmpassword" placeholder="Confirm Password" required>
            <button type="submit" name="login">Register</button>
            <p>Already Have an account? <a href="regis">Sign Up here!</a></p>
        </form>
    </div>
</div>